/* 8{
    font-family: "Cairo", sans-serif;
} */
 body{
    background-color: whitesmoke !important;
 }
 li.nav-item{
    padding: .1rem 0;
    border-radius: 1rem;
 }
 li.nav-item *{
    color: #c7c7c7;
 }
 li.nav-item .nav-link{
    padding: .2rem 1rem !important;
 }
 /* li.nav-item a{
    width: 80%;
    border-bottom-right-radius: 0;

} */
.nav{
    padding-left: 15px;
}
li.nav-item:hover{
    /* color: #00bac7; */
    background-color: rgba(0, 186, 199, .12);

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  li.nav-item:hover span,  li.nav-item:hover i{
    color: #00bac7 !important;
    /* background-color: rgba(0, 186, 199, .12); */

  }
table th{
    font-size: small;
}

li.nav-item span{
    display: inline-block;
    padding: 0 1rem;
}
.table-responsive *{
    white-space: nowrap;
}

ul{
    list-style: arabic-indic;
}
.nest_list *:not(button){
    margin-top: 15px;
}
.nest_list summary{
    color: crimson;
    font-weight: bold;
}
details > summary {
    list-style-type: none;
}

details > summary::before {
    content: '+';
        font-weight: bold;

}
details[open] > summary::before {
    content: '-';
    font-weight: bold;
}
.navbar_dashboard{
    font-size: .9rem;
}
.navbar_dashboard i{
    font-size: 1.4rem;
}